<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'startseite.css' %}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}<title>Geschichtswettbewerb</title>{% endblock %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
   <style type="text/css">
     .page-header {
       margin-top: 0;
     }
   </style>
</head>
<body>
  {% include 'header.html' %}
  <div class="main-container">
      {% block heading %} {% endblock %}
    <div class="main-content">
      {% block content %}{% endblock %}
      {% block map %} {% endblock %}
      {% block detail %} {% endblock %}
      {% block filter %} {% endblock %}
    </div>
  <div class="sidebar-div">
    {% include 'sidebar.html' %}
  </div>
  <footer class="footer">
    <div><a href={% url 'karte:impressum' %}>Impressum</a></div>
  </footer>
  </div>

</body>
</html>
