<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'startseite.css' %}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}<title>Geschichtswettbewerb</title>{% endblock %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
   <style type="text/css">
     .page-header {
       margin-top: 0;
     }
   </style>
</head>
<body>
  {% include 'header.html' %}
  <div class="main-container">
      {% block heading %} {% endblock %}
    <div class="main-content">
      {% block content %}{% endblock %}
      {% block map %} {% endblock %}
      {% block detail %} {% endblock %}
      {% block filter %} {% endblock %}
    </div>
  <div class="sidebar-div">
    {% include 'sidebar.html' %}
  </div>
  <footer class="footer">
    <div><a href={% url 'karte:impressum' %}>Impressum</a></div>
  </footer>
  </div>

  <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
  (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
  })(document, window, '//tomo.input23.de/tracker.js', 'fathom');
  fathom('set', 'siteId', 'TMYFT');
  fathom('trackPageview');
  </script>
  <!-- / Fathom -->

</body>
</html>
