{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block filter %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="{% static 'leaflet.markercluster.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'startseite.css' %}">

  <title>Personenfilter</title>
</head>
<body>


<form method="get" target="_blank">
  <div class="well">
    <h1 style="margin-top: 0">Beitragsfilter</h1>
    <p>In den folgenden Filtern können alle Kategorien ausgewählt werden, nach denen Beiträge gefiltert werden sollen.</p>
    <div class="form-row">
    Filter zum Thema:
      <div class="form-group col">
    <!--    Titel enthält:
        {% render_field filter.form.titel__icontains class="form-control" %}

        Regest enthält
        {% render_field filter.form.regest__icontains class="form-control" %}
    -->
        Suche nach Beiträgen zu folgendem Thema:
        {% render_field filter.form.topic class="form-control" %}

      </div>
      <div class="form-group col">
        Signatur:
        {% render_field filter.form.signatur__icontains class="form-control" %}
      </div>
    </div>

    <div class="form-row">
    Filter zum Themenzeitraum der Beiträge:
      <div class="form-group col">

        Zeitraum Start (exakt):
        {% render_field filter.form.zeitraumVon class="form-control" placeholder="TEST" %}
        Zeitraum Start (maximal):
        {% render_field filter.form.zeitraumVon__lt class="form-control" %}
        Zeitraum Start (mindestens):
        {% render_field filter.form.zeitraumVon__gt class="form-control" %}
      </div>
        <div class="form-group col">

        Zeitraum Ende (exakt):
        {% render_field filter.form.zeitraumBis class="form-control" %}
        Zeitraum Ende (maximal):
        {% render_field filter.form.zeitraumBis__lt class="form-control" %}
        Zeitraum Ende (mindestens):
        {% render_field filter.form.zeitraumBis__gt class="form-control" %}
      </div>
  </div>
  <div class="form-row">

    Filter zum Beitragtypen
      {{ filter.form.typ.label_tag }}
      {% render_field filter.form.typ class="form-control" %}
  </div>

  <div class="form-row">

    Filter zu den verwendeten Quellen
      {{ filter.form.grundlagen.label_tag }}
      {% render_field filter.form.grundlagen class="form-control" %}
  </div>

  <div class="form-row">

    Filter bezüglich der Wettbewerbe:
      {% render_field filter.form.wettbewerb class="form-control" %}
      Wettbewerbsjahr:
      {% render_field filter.form.wettbewerb__jahr class="form-control" %}
      Wettbewerbsjahr (mindestens):
      {% render_field filter.form.wettbewerb__jahr__gt class="form-control" %}
      Wettbewerbsjahr (maximal):
      {% render_field filter.form.wettbewerb__jahr__lt class="form-control" %}
      Beiträge mit Auszeichnung:
      {% render_field filter.form.auszeichnungeinreichung__auszeichnung class="form-control" %}
  </div>
  <div class="form-row">

    Filter bezüglich der Autoren und Arbeitsweise der Schüler:
      Jahrgangsstufe (exakt):
      {% render_field filter.form.jahrgang class="form-control" %}

      Jahrgangsstufe (mindestens):
      {% render_field filter.form.jahrgangMin class="form-control" %}

      Jahrgangsstufe (maximal):
      {% render_field filter.form.jahrgangMax class="form-control" %}

      Schulart:
      {% render_field filter.form.autorin__autorinschule__schule__art class="form-control" %}

      Einzelarbeit oder Gruppenarbeit:
      {% render_field filter.form.einzel_gruppe class="form-control" %}

      Wurde der Beitrag tutoriert?
      {% render_field filter.form.tutor__isnull class="form-control" %}

      Beiträge mit Dokumenttyp:
      {% render_field filter.form.dokument__typ class="form-control" %}
  </div>
  <div class="form-row">

    Filter zum Ort der Beiträge:
      {% render_field filter.form.ort class="form-control" %}
      Ortbezeichnung enthält:
      {% render_field filter.form.ort__ortbezeichnung__icontains class="form-control" %}
  </div>
  <div class="form-row">

    Filter zu untersuchten Persönlichkeiten der Beiträge:
      Persönlichkeiten
      {% render_field filter.form.persoenlichkeiten class="form-control" %}

      Persönlichkeit enthält:
      {% render_field filter.form.persoenlichkeiten__name__icontains class="form-control" %}
  </div>
  <div class="form-row">

    Filter zu behandelten Institutionen:
      {% render_field filter.form.institutionen class="form-control" %}
      Institution enthält:
      {% render_field filter.form.institutionen__name__icontains class="form-control" %}
  </div>
    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Suche
    </button>
    <input type="reset" class="btn btn-primary">
      <span></span>
    </input>
  </div>
</form>
<!--
<table class="table", style="display: block; height: 500px; overflow: auto; border-color: black">
  <caption>Anzahl Beiträge: {{filter.qs.count}}</caption>
  <thead>
    <tr>
      <th>Titel</th>
      <th>Signatur</th>
      <th>Wettbewerb</th>
      <th>Detailansicht</th>
    </tr>
  </thead>
  <tbody>
    {% for beitrag in filter.qs %}
      <tr>
        <td>{{ beitrag.titel }}</td>
        <td>{{ beitrag.signatur }}</td>
        <td>{{ beitrag.wettbewerb.all | join:", "}}</td>
        <td><a href="{{beitrag.id}}"target="_blank">(Detail)</a></td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">No data</td>
      </tr>
    {% endfor %}
  </tbody>
</table>-->
{% for beitrag in filter.qs %}
 <div class="resultDivTitle">
   {{ beitrag.signatur }}  - {{ beitrag.titel }}
 </div>
 <div class="resultDivInformation">
   <div>{% for autor in beitrag.autorin_set.all %}
     {{ autor }}, {% for x in autor.autorinschule_set.all %}
       {{ x.jahrgangsstufe }}
       {% endfor %}, {{ autor.schule.all|join:", "}}
   {% endfor %}</div>
   <div>{{ beitrag.typ.all|join:", " }},  {{ beitrag.umfang }}</div>

 </div>
{% empty %}

{% endfor %}
<div>
  <h1>Karte</h1>
  <div id="map"></div>
  {{ markers|json_script:"markers-data" }}
  <!--
  <script type="text/javascript">
    const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    //var x = {{ort.location.x}};
    //var y = {{ort.location.y}};
    const map = L.map('map', {
      center: [51.969, 7.62082],
      minZoom: 2,
      zoom: 14,
    });

    L.tileLayer('https://{s}.tile.openstreetmap.de/{z}/{x}/{y}.png', { attribution: attribution }).addTo(map);
  //var coordinates = {{ ort.location }};
  //var marker = new 7.62082, 51.969
  // {{ort.location.x }} and .y does not work properly
    marker = new L.marker([parseFloat("{{ ort.location.y }}".replace(/,/g, '.')), parseFloat("{{ ort.location.x }}".replace(/,/g, '.'))]).addTo(map).bindPopup("{{ ort.ortbezeichnung }}");
  //const markers = JSON.parse(document.getElementById('markers-data').textContent);

  //let feature = L.geoJSON(markers).bindPopup(function (layer)
  //{ return layer.feature.properties.ortbezeichnung + ' <a href="' + layer.feature.properties.pk + '" target="_blank">' + 'id: ' + layer.feature.properties.pk + '</a>';
  //});//.addTo(map);
  //map.addLayer(feature);

    //map.fitBounds(feature.getBounds(), { padding: [100, 100] });

    //map.fitWorld();
  </script>-->
  <script src="{% static 'map.js' %}"></script>
</div>
</body>

{% endblock %}
