{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block filter %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<!--  <script src="{% static 'leaflet.markercluster.js' %}"></script>-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'startseite.css' %}">

  <title>Personenfilter</title>

  <style>
  .collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: white;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }
  </style>
</head>
<body>

<h1>Stadtgeschichte für die Zukunft: Schülerforschungen aus Münster</h1>
<p>Mit diesen Filtern kann die gesamte Datenbank durchsucht werden</p>
<p>Hinweis: Bei Filtern wie „Historische Persönlichkeit“ oder „Wettbewerb“ können durch Drücken der ‚Strg‘-Taste mehrere Persönlichkeiten oder Wettbewerbe ausgewählt werden.</p>

<form method="get" target="_blank">
  <div class="well">

    <div class="left-container">
      {% render_field filter.form.titel__icontains class="form-control" placeholder="Beitragstitel enthält" %}

      {% render_field filter.form.regest__icontains class="form-control" placeholder="Beitragszusammenfassung enthält" %}

      {% render_field filter.form.zeitraumVon__gt class="form-control" placeholder="Zeitraum Von" title="Beginn des Zeitraums, der in der Arbeit untersucht wird" %}

      {% render_field filter.form.zeitraumBis__lt class="form-control" placeholder="Zeitraum Bis" title="Ende des Zeitraums, der in der Arbeit untersucht wird" %}

      {% render_field filter.form.ort__ortbezeichnung__icontains class="form-control" placeholder="Ort" %}

      {% render_field filter.form.signatur__icontains class="form-control" placeholder="Signatur" title="Signatur, unter der der Beitrag im Stadtarchiv archiviert wurde" %}

      {% render_field filter.form.jahrgangMin class="form-control" placeholder="Jahrgangsstufe von" title="Jahrgangsstufe, in der die Kinder und Jugendlichen waren"  %}

      {% render_field filter.form.jahrgangMax class="form-control" placeholder="Jahrgangsstufe bis" title="Jahrgangsstufe, in der die Kinder und Jugendlichen waren" %}

      {% render_field filter.form.einzel_gruppe class="form-control" placeholder="Einzel- oder Gruppenarbeit?" title="Ob die Kinder und Jugendlichen allein oder gemeinsam teilgenommenn haben" %}

      <select name="tutor" selected="TEST" placeholder="Tutorierte Beiträge" class="form-control" id="id_tutor">
        <option value="unknown" selected="">Tutoriert?</option>

        <option value="true">Nein</option>

        <option value="false">Ja</option>

      </select>

    </div>
    <div class="right-container">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title">
              <a data-toggle="collapse" href="#collapse8">Historische Persönlichkeit</a>
            </p>
          </div>
          <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">{% render_field filter.form.persoenlichkeiten class="form-control" placeholder="Historische Persönlichkeit" title="Historische Persönlichkeit, die in der Arbeit untersucht wird" %}</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title">
              <a data-toggle="collapse" href="#collapse9">Institution</a>
            </p>
          </div>
          <div id="collapse9" class="panel-collapse collapse">
            <div class="panel-body">{% render_field filter.form.institutionen class="form-control" placeholder="Institution" title="Institution, die in der Arbeit untersucht wird" %}</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title">
              <a data-toggle="collapse" href="#collapse6">Beitragsformat</a>
            </p>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">{% render_field filter.form.typ class="form-control" placeholder="Beitragsformat" title="Format, in dem der Beitrag verfasst wurde"  %}</div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title">
              <a data-toggle="collapse" href="#collapse7">Beitragsdokumente</a>
            </p>
          </div>
          <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">{% render_field filter.form.dokument__typ class="form-control" placeholder="Dokumente des Beitrags" title="Dokumentarten, die zu einem Beitrag vorhanden sind" %}</div>
          </div>
        </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <p class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Wettbewerbsjahrgang</a>
              </p>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">{% render_field filter.form.wettbewerb class="form-control" placeholder="Wettbewerbsjahrgang" %}</div>
            </div>
          </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <p class="panel-title">
                  <a data-toggle="collapse" href="#collapse2">Schule</a>
                </p>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">{% render_field filter.form.autorin__autorinschule__schule class="form-control" placeholder="Schule" %}</div>
              </div>
            </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <p class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">Schulform</a>
                  </p>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">{% render_field filter.form.autorin__autorinschule__schule__art class="form-control" placeholder="Schulform" %}</div>
                </div>
              </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <p class="panel-title">
                <a data-toggle="collapse" href="#collapse4">Materialgrundlage</a>
              </p>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <div class="panel-body">{% render_field filter.form.grundlagen class="form-control"  placeholder="Materialgrundlage" %}</div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <p class="panel-title">
                <a data-toggle="collapse" href="#collapse5">Auszeichnung</a>
              </p>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">{% render_field filter.form.auszeichnungeinreichung__auszeichnung class="form-control" placeholder="Auszeichnung" %}</div>
            </div>
          </div>

        </div>


      <!--{% render_field filter.form.tutor class="form-control"  placeholder="Tutorierte Beiträge" selected="TEST" %}-->




    </div>

    <button type="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-search"></span> Suche
    </button>
    <input type="reset" class="btn btn-primary">
    </input>
  </div>
</form>
<div> Es wurden {{ filter.qs.count }} Beiträge gefunden </div>
<div> Wer die Arbeiten lesen möchte, kann sie in der Präsenzbibliothek des Stadtarchivs nutzen. Weitere Infos: <a href="www.stadt-muenster.de/archiv">www.stadt-muenster.de/archiv</a> </div>


<div style="height:  500px; overflow: auto;">
{% for beitrag in filter.qs %}
 <div class="resultDivTitle">
   {{ beitrag.signatur }}  - {{ beitrag.titel }}
 </div>
 <div class="resultDivInformation">
   <div>{% for autor in beitrag.autorin_set.all %}
     {{ autor }}, {% for x in autor.autorinschule_set.all %}
     {% if x.jahrgangsstufe != None %}
       JG:{{ x.jahrgangsstufe }},
     {% endif %}
       {% endfor %},
       {% for y in autor.schule.all %}
         {{ y.schule }},
       {% endfor %}<!--{{ autor.schule.all|join:", "}}-->
   {% endfor %}</div>
   <div>{{ beitrag.typ.all|join:", " }},  {{ beitrag.umfang }}</div>
   <div>{% for w in beitrag.wettbewerb.all %} {{ w.jahr }} {% endfor %}</div>
   <div><a href="{{beitrag.id}}"target="_blank">Detailansicht</a></div>

 </div>
{% empty %}

{% endfor %}
</div>
<div>
  <h1>Karte</h1>
  <div id="map"></div>
  {{ markers|json_script:"markers-data" }}
  <script src="{% static 'map.js' %}"></script>
</div>
</body>

{% endblock %}
