{% extends "base.html" %}

{% load static %}

{% block content %}
<head>
  <title>Markers Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'startseite.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
  <div class="competition-title">
    <h2>{{ object.kurztitel }}  ({{object.jahr}} - {{object.jahrBis}})</h2>
  </div>
<div class="competition-detail">
  <div class="competition-content-left">
    <div>{{ object.zusammenfassung }}</div>
  </div>
  <div class="competition-content-right">
    <div class="first">
      Anzahl Beiträge aus Münster {{ object.beitrag_set.all.count }}
    </div>
    <div class="second">
      Anzahl Teilnehmer:innen aus Münster {{ autorinnen.count }}
    </div>
<!--
      {% for x in object.beitrag_set.all %}
      <li>
        {{ x.autorin_set.all.count }}
      </li>
      {% endfor %}
    </div>

    Double check if autorinnen.count is correct
-->
    <div class="third">
      Anzahl der Preise in Münster: {{ awards.count }}
    </div>
  </div>
</div>



  <h3>Karte</h3>
  <p>Auf der Karte sind alle Orte markiert, zu denen Beiträge in diesem Wettbewerb geschrieben wurden.</p><body>
  <div id="map"></div>
    {{ markers|json_script:"markers-data" }}
    <script src="{% static 'map.js' %}"></script>
    <!--
    <script type="text/javascript">
      const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      //var x = {{ort.location.x}};
      //var y = {{ort.location.y}};
      const map = L.map('map', {
        center: [51.969, 7.62082],
        minZoom: 2,
        zoom: 14,
      });

      L.tileLayer('https://{s}.tile.openstreetmap.de/{z}/{x}/{y}.png', { attribution: attribution }).addTo(map);
      const markers = JSON.parse(document.getElementById('markers-data').textContent);

      let feature = L.geoJSON(markers).bindPopup(function (layer)
      { return layer.feature.properties.ortbezeichnung + ' <a href="' + layer.feature.properties.pk + '" target="_blank">' + 'Detailansicht</a>';
      });//.addTo(map);
      map.addLayer(feature);
    //var marker = new 7.62082, 51.969
    // {{ort.location.x }} and .y does not work properly
      //marker = new L.marker([parseFloat("{{ ort.location.y }}".replace(/,/g, '.')), parseFloat("{{ ort.location.x }}".replace(/,/g, '.'))]).addTo(map).bindPopup("{{ ort.ortbezeichnung }}");
    //const markers = JSON.parse(document.getElementById('markers-data').textContent);

    //let feature = L.geoJSON(markers).bindPopup(function (layer)
    //{ return layer.feature.properties.ortbezeichnung + ' <a href="' + layer.feature.properties.pk + '" target="_blank">' + 'id: ' + layer.feature.properties.pk + '</a>';
    //});//.addTo(map);
    //map.addLayer(feature);

      //map.fitBounds(feature.getBounds(), { padding: [100, 100] });

      //map.fitWorld();
    </script>--></div>

</body>

{% endblock %}
