{% extends "base.html" %}

{% load static %}

{% block content %}
<head>
  <title>Markers Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'startseite.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
  <div class="competition-title">
    <h2>{{ object.kurztitel }}  ({{object.jahr}} - {{object.jahrBis}})</h2>
  </div>
<div class="competition-detail">
  <div class="competition-content-left">
    <div>{{ object.zusammenfassung }}</div>
  </div>
  <div class="competition-content-right">
    <div class="first">
      Anzahl Beiträge aus Münster {{ object.beitrag_set.all.count }}
    </div>
    <div class="second">
      Anzahl Teilnehmer:innen aus Münster {{ autorinnen.count }}
    </div>
<!--
      {% for x in object.beitrag_set.all %}
      <li>
        {{ x.autorin_set.all.count }}
      </li>
      {% endfor %}
    </div>

    Double check if autorinnen.count is correct
-->
    <div class="third">
      Anzahl der Preise in Münster: {{ awards.count }}
    </div>
  </div>
</div>


  <div style="margin: 10px;">
    <h3>Karte</h3>
    <p>Auf der Karte sind alle Orte markiert, zu denen Beiträge in diesem Wettbewerb geschrieben wurden.</p><body>
  </div>
  <div id="map"></div>
    {{ markers|json_script:"markers-data" }}
    <script src="{% static 'map.js' %}"></script>
  </div>

</body>

{% endblock %}
