{% load static %}
<nav class="navbar navbar-default">
  <img id="wwu_logo" src="{% static 'WWUMuenster_Logo_2017_rgb.jpg' %}"/>
  <img id="stadt_muenster_logo" src="{% static 'Stadtarchiv_379-5mm_rgb.jpg' %}"/>
  <div class="navbar-header">
    <div class="header-button" style="background-color=#005b79; border-radius: 1rem; width:200px; color:white; height:50px; padding-top:15px;">
  <a class="navbar-brand" href="{% url 'karte:karte' %}" style="color:black;">Startseite</a>
</div>
</div>
<!--  <a class="navbar-brand" href="{% url 'karte:beitraege' %}">Beitragsfilter</a>-->
</nav>
