{% extends "base.html" %}
{% load static %}
{% block map %}
<!-- Impressum of the website -->
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'startseite.css' %}">
</head>
<body>
  <div class="impressum-content">
    <div>
      <h1>Impressum</h1>
    </div>
    <div>
      <h3>Beiträge zum Geschichtswettbewerb  des Bundespräsidenten in Münster seit 1973</h3>
      <p>In keiner anderen Stadt haben seit 1973 so viele Kinder und Jugendliche am Geschichtswettbewerb des Bundespräsidenten teilgenommen wie in Münster. Bis 2020 entstanden in knapp 50 Jahren rund 1.700 Arbeiten. Gemeinsam mit dem Stadtarchiv Münster hat das Institut für Didaktik der Geschichte an der Universität Münster diese Forschungsbeiträge erfasst. Die einzigartige Datensammlung bietet vielfältige Nutzungsmöglichkeiten: Sie gibt einen Überblick über Themen, Fragestellungen und Vorgehensweisen aller im Stadtarchiv gesammelten Schülerbeiträge. Sie würdigt diese Schülerforschung als bedeutenden Teil der Geschichtskultur in Münster. Und nicht zuletzt ist sie ein Forschungsinstrument für Lokalgeschichte und Geschichtsdidaktik.
Als offene Daten dürfen die Informationen unter Nennung der Urheber weiterverwendet werden.
Beim <a href="https://www.muensterhack.de">www.muensterhack.de</a> 2020 wurde die Idee eines Recherchetools aufgegriffen, ein Datenmodell als strukturelle Grundlage erarbeitet und mit dem Mentorenpreis ausgezeichnet. In der Folge hat ein interdisziplinäres Team bis Sommer 2021 diesen Auftritt entwickelt. Der Betrieb dieses Projekts wird unterstützt durch den Smart City Münster Open Source Solution Enabler:
</p>
    </div>
    <div>
      <h3>Projektleitung</h3>
      <p>Prof. Dr. Saskia Handro (Institut für Didaktik der Geschichte, WWU Münster), Dr. Peter Worm (Stadtarchiv Münster)</p>
    </div>
    <div>
      <h3>Projektkonzeption und -realisierung</h3>
      <p>Johanna Glandorf, Moritz Heitmann, Dr. Martin Schlutow (Institut für Didaktik der Geschichte, WWU Münster), Dr. Philipp Erdmann (Stadtarchiv Münster), Dr. Armin Stein (Institut für Wirtschaftsinformatik, WWU Münster)</p>
    </div>

    <div>
      <h3>Layout und Gestaltung</h3>
      <p>Richard Albrecht (Studentischer Mitarbeiter, Institut für Wirtschaftsinformatik, WWU Münster), Johanna Glandorf, Moritz Heitmann</p>
    </div>
    <div>
      <h3>Technische Umsetzunng</h3>
      <p>Richard Albrecht</p>
    </div>
    <div>
      <h3>Betrieb</h3>
      <p>Thomas Werner (citeq, Stadt Münster)</p>
    </div>
    <div>
      <h3>Datenerfassung</h3>
      <p>Svanje Cordua, Andreas Johannes, Jana Jürgens, Sebastian Lange, Jonas Marquardt, Christiane Oestreich, Gerrit Peters, Sophie Reinhart, Jan H. Wille (studentische Mitarbeitende, Institut für Didaktik der Geschichte, WWU Münster)</p>
    </div>
    <div>
      <p>Mit Unterstützung beim MünsterHack2020 von:</p>
      <p> Richard Albrecht, Tim Weißenberger, Lennart Seeger, Lennart Schmidt </p>
    </div>
    <div>
      <b>Anbieter und Verantwortlicher dieser Internetpräsenz nach § 5 TMG, § 55 RStV:</b><br>
      Stadtarchiv Münster<br>
      An den Speichern 8<br>
      48157 Münster<br>
<br>
      Tel. 02 51/4 92-47 01<br>
      Fax 02 51/4 92-77 27<br>
<br>
      archiv@stadt-muenster.de<br>
<br>
      Das Stadtarchiv ist ein Amt der Stadt Münster.<br>
<br>
      Stadt Münster<br>
      48127 Münster<br>
      Tel. 02 51/ 4 92-0<br>
      Fax 02 51/ 4 92-77 00<br>
<br>
      stadtverwaltung@stadt-muenster.de<br>
      <a href="https://www.stadt-muenster.de">www.stadt-muenster.de</a><br>
<br>
      Die Stadt Münster ist eine Körperschaft des öffentlichen Rechts.<br>
      Sie wird vertreten durch Oberbürgermeister Markus Lewe.<br>
<br>
      Über die hier gemachten Angaben hinaus gelten die städtischen Datenschutzbestimmungen (<a href="https://www.stadt-muenster.de/datenschutz">https://www.stadt-muenster.de/datenschutz</a>) und das städtische Impressum (<a href="https://www.stadt-muenster.de/kontakt-impressum.html">https://www.stadt-muenster.de/kontakt-impressum.html</a>)

    </div>
    <div>
      <h3>Urheber- und Nutzungsrechte</h3>
      <p>Alle hier verfügbaren Informationen stammen aus Teilnahmen am Geschichtswettbewerb des Bundespräsidenten. Sie sind über die Bibliothek des Stadtarchivs Münster öffentlich einsehbar. Die Informationen wurden in Zusammenarbeit mit dem Institut für Didaktik der Geschichte an der Westfälischen Wilhelms-Universität Münster erfasst. Die hier veröffentlichten Inhalte sind mit größter Sorgfalt recherchiert. Dennoch können die Betreiber keine Gewähr für ihre Richtigkeit übernehmen.
<br>
        Der Anbieter verweist zum Zeitpunkt der Erstellung dieser Seiten weder direkt noch indirekt auf fremde Webseiten (Links) mit rechtswidrigen Inhalten. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten Seiten hat der Anbieter keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller verlinkter Seiten, die nach der Linksetzung verändert wurden.
<br>
        Als offene Daten dürfen die zugrundeliegenden Informationen zu jeglichen Zwecken (privat oder wissenschaftlich, auch kommerziell) weiterverwendet werden. Veränderungen dürfen nicht ohne Zustimmung der Urheber vorgenommen werden, die Urheber (Stadt Münster, Stadtarchiv, und Westfälische Wilhelms-Universität Münster, Institut für Didaktik der Geschichte) sind in jedem Fall kenntlich zu machen gemäß der Datenlizenz Deutschland – Namensnennung – Version 2.0: <a href="https://www.govdata.de/dl-de/by-2-0">https://www.govdata.de/dl-de/by-2-0</a>. Weitere Hinweise zur Verwendung und zum Haftungsausschluss dieser und weiterer offener Daten bei der Stadt Münster: <a href="https://opendata.stadt-muenster.de/nutzungsbedingungen">https://opendata.stadt-muenster.de/nutzungsbedingungen</a>.
<br>
        Das Layout und die Gestaltung des Auftritts sind urheberrechtlich geschützt. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet.
<br>
        Eine Korrektur oder ein Löschungswunsch der eigenen personenbezogenen Informationen kann dem Stadtarchiv postalisch bzw. per E-Mail an archiv@stadt-muenster.de mitgeteilt werden.

      </p>
    </div>
</div>
</body>
{% endblock %}
