{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block heading %}
{% endblock%}
{% block content %}

{% endblock %}

{% block map %}

<head>
  <title>Markers Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'startseite.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <!--<script src="{% static 'leaflet.markercluster.js' %}"></script>-->

  <style>
  .collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: white;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }
  .panel-collapse {
      border-top-color: #ddd;
      z-index: 10;
      position: relative;
    }

  .panel-body {
    position: relative;
    z-index: -1;
  }
  .panel-collapse collapse {
    position: relative;
    z-index: -1;
  }
  </style>
</head>
<body>
  <div class="detail-filter-headline">
    <h1>Stadtgeschichte für die Zukunft: Schülerforschungen aus Münster</h1>

    <p>Auf der Karte sind alle Orte markiert, zu denen Beiträge geschrieben wurden.</p><body>
  </div>
    <div id="map"></div>
    {{ markers|json_script:"markers-data" }}
    <script src="{% static 'map.js' %}"></script>

  <div class="start-filter">
    <form method="get">
       <div class="well">
         <div class="left-container">
           {% render_field filter.form.everything class="form-control" placeholder="Suche in über 1700 Schülerarbeiten..." %}
          <div class="left-container-buttons">
           <button type="submit" class="btn btn-primary" name="submitted">
             <span class="glyphicon glyphicon-search"></span> Suche
           </button>
           <span>Oder gehe zur </span>
           <a class='btn btn-primary' href="{% url 'karte:beitraege' %}"target="_blank" class="button">Detailsuche</a>
         </div>
         </div>
         <div  class="right-container">
           <div class="upper">
             <div class="panel-group">

               <div class="panel panel-default">
                 <div class="panel-heading">
                   <p class="panel-title">
                     <a data-toggle="collapse" href="#collapse1">Wettbewerb</a>
                   </p>
                 </div>
                 <div id="collapse1" class="panel-collapse collapse" style="z-index:1;">
                   <div class="panel-body">{% render_field filter.form.wettbewerb class="form-control" placeholder="Wettbewerbsjahrgang" %}</div>
                 </div>
               </div>
         </div>
           </div>
           <div class="lower">
             {% render_field filter.form.zeitraumVon__gt class="form-control" placeholder="Zeitraum von" %}
             {% render_field filter.form.zeitraumBis__lt class="form-control" placeholder="Zeitraum bis" %}
           </div>
         </div>
       </div>
     </form>
   </div>


     <div class="submission-result">
       {% if filter.is_bound %}
       <div> Es wurden {{ filter.qs.count }} Beiträge gefunden </div>

     {% for beitrag in filter.qs %}
      <div class="resultDivTitle">
        {{ beitrag.signatur }}  - {{ beitrag.titel }}
      </div>
      <div class="resultDivInformation">
        <div>
        Schulen:
        {% for autor in beitrag.autorin_set.all %}
          {% ifchanged autor.schule.all.0 %}
            {% for schule in autor.schule.all %}
              {% ifchanged schule %}{{ schule }};{% endifchanged %}
            {% endfor %}
            {% endifchanged %}
            {% empty %}
              nicht erfasst
          {% endfor %}
        </div>
        <div>
          Jahrgangsstufen:
          {% for autor in beitrag.autorin_set.all %}
          {% with counter=forloop.counter %}
            {% ifchanged autor.autorinschule_set.all.0.jahrgangsstufe %}
            {% for x in autor.autorinschule_set.all %}
              {% ifchanged x.jahrgangsstufe %} {{ x.jahrgangsstufe }}; {% endifchanged %}
              {% empty %}
                nicht erfasst
              {% endfor %}
              {% endifchanged %}
            {% endwith %}
          {% endfor %}
          </div>
        <div>{{ beitrag.typ.all|join:", " }},  {{ beitrag.umfang }}</div>
        <div>{% for w in beitrag.wettbewerb.all %} {{ w.jahr }} {% endfor %}</div>
        <div><a href="{% url 'karte:submission-detail' pk=beitrag.id %}"target="_blank">Detailansicht</a></div>
      </div>
     {% empty %}

     {% endfor %}
     {% endif %}
</div>

</body>

{% endblock %}

{% block filter %}

{% endblock %}
