{% extends "base.html" %}

{% load static %}

{% block map %}

<head>
  <title>Markers Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="{% static 'leaflet.markercluster.js' %}"></script>
</head>
<body
  <h1>Geschichtswettbewerb Karte</h1>
  <div id="map"></div>
  {{ markers|json_script:"markers-data" }}
  <script src="{% static 'map.js' %}"></script>
</body>
{% endblock %}
