{% extends "base.html" %}

{% load static %}

{% block detail %}

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'startseite.css' %}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static 'leaflet.markercluster.js' %}"></script>
  </head>

<body>
  <h1>{{ ort.ortbezeichnung }}</h1>
  <h3>{{ ort.histName.all|join:", "}}</h3>
  <h3>{{ ort.histRegion.all|join:", "}}</h3>

  <h4>Beiträge zu diesem Ort:</h4>
  <table class="table", style="display: block; height: 400px; overflow: auto; border-color: black">
    <caption>Anzahl Beiträge: {{ort.beitraege.all.count}}</caption>
    <thead>
      <tr>
        <th>Titel</th>
        <th>Signatur</th>
        <th>Detailansicht</th>
      </tr>
    </thead>
    <tbody>
      {% for beitrag in ort.beitraege.all %}
        <tr>
          <td>{{ beitrag.titel }}</td>
          <td>{{ beitrag.signatur }}</td>
          <td><a href="{% url 'karte:beitraege' %}{{beitrag.id}}">Detail</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>Auf der Karte ist der gewählte Ort markiert.</p>
  <div id="map", class="map-container"></div>
  <script type="text/javascript">
    const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    const map = L.map('map', {
      center: [parseFloat("{{ ort.location.y }}".replace(/,/g, '.')), parseFloat("{{ ort.location.x }}".replace(/,/g, '.'))],
      minZoom: 2,
      zoom: 14,
    });

    L.tileLayer('https://{s}.tile.openstreetmap.de/{z}/{x}/{y}.png', { attribution: attribution }).addTo(map);
    marker = new L.marker([parseFloat("{{ ort.location.y }}".replace(/,/g, '.')), parseFloat("{{ ort.location.x }}".replace(/,/g, '.'))]).addTo(map).bindPopup("{{ ort.ortbezeichnung }}");

  </script>
</body>

{% endblock %}
