{% extends "base.html" %}

{% load static %}

{% block detail %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'startseite.css' %}">
</head>
<body>
<!-- displays all data of the selected submission -->
<div class="submission-detail-heading">
  <h3>{{ beitrag.titel }}</h3>
  <h4>
    {{ beitrag.autorin_set.all|join:", " }}
  </h4>
</div>
<div class="submission-detail">
<div class="submission-left-container">
  <div class="submission-content">
    <b>Schulen:</b>
    {% for autor in beitrag.autorin_set.all %}
     {{ autor.schools.all|join:", "}};
        {% empty %}
          nicht erfasst
      {% endfor %}
  </div>
  <div class="submission-content">
    <b>Jahrgangsstufen:</b>
        {% if beitrag.jahrgaenge.all %}
          {{ beitrag.jahrgaenge.all|join:", "}}
        {% else %}
          nicht erfasst
        {% endif %}
  </div>
  <div class="submission-content">
    <b>Beitragsart:</b>
    {%  if beitrag.typ.all.count > 0 %}
      {{ beitrag.typ.all|join:", " }}
      {% else %}
        nicht erfasst
      {% endif %}
  </div>
  <div class="submission-content">
    <b>Vorhandene Dokumente:</b>
    Beitrag,
    {%  if beitrag.dokument_set.all.count > 0 %}
      {{ beitrag.dokument_set.all|join:", " }}
    {% endif %}
  </div>
  <div>

  </div>
  <div class="submission-content">
    <b>Wettbewerb:</b>
    {% for w in beitrag.wettbewerb.all %}
      {{w}}<a href="{% url 'karte:wettbewerb-detail' pk=w.id %}"target="_blank" style="color:#aab315;"> (Detail)</a>
    {% empty %}
        nicht erfasst
    {% endfor %}
  </div>
  <div class="submission-content">
    <b>Zeitraum von:</b>
    {% if beitrag.zeitraumVon != None %}
      {{ beitrag.zeitraumVon }}
    {% else %}
      nicht erfasst
    {% endif %}
  </div>
  <div class="submission-content">
    <b>Zeitraum bis:</b>
    {% if beitrag.zeitraumBis != None %}
      {{ beitrag.zeitraumBis }}
    {% else %}
      nicht erfasst
    {% endif %}
  </div>
</div>
<div class="submission-right-container">
  <div class="submission-content">
    <b>Signatur:</b> {{ beitrag.signatur }}
  </div>
  <div class="submission-content">
    <b>Umfang:</b>
    {% if beitrag.umfang != None %}
      {{ beitrag.umfang }}
    {% else %}
      nicht erfasst
    {% endif %}
  </div>
  <div class="submission-content">
    <b>Auszeichnungen:</b>
    {% for i in beitrag.auszeichnungeinreichung_set.all %}
      {{ i.auszeichnung }}
    {% empty %}
      nicht erfasst
    {% endfor %}
  </div>
  <div class="submission-content">
    <b>Untersuchte Orte:</b>
    {%  if beitrag.ort_set.all.count > 0 %}
      {{ beitrag.ort_set.all|join:", " }}
    {% else %}
      nicht erfasst
    {% endif %}
  </div>
  <div class="submission-content">
    <b>Persönlichkeiten:</b>
    {%  if beitrag.persoenlichkeiten.all.count > 0 %}
      {{ beitrag.persoenlichkeiten.all|join:", " }}
    {% else %}
      nicht erfasst
    {% endif %}
  </div>
  <div class="submission-content">
    <b>Institutionen:</b>
    {%  if beitrag.institutionen.all.count > 0 %}
      {{ beitrag.institutionen.all|join:", " }}
    {% else %}
      nicht erfasst
    {% endif %}
  </div>
  <div class="submission-content">
    <b>Tutoriert:</b> {% if beitrag.tutor != None %} Ja {% else %} Nein {% endif %}
  </div>
</div>
<div class="regest">
  <div class="regest-title">
    <b>Beitragszusammenfassung:</b>
  </div>
  <p>{{ beitrag.regest }}</p>
</div>
</div>
</body>
{% endblock %}
