html, body {
  height: 100%;
  /*margin: 25;*/
  /*background-color: #ebd5b3;*/
  text-align: center;
  align-content: center;
}
#map {
  /*width: 100%;*/
  height: 600px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-left: 10px;

}
