python 3.8.2
mysql-connector 8.0.23
mysql 8.0.22
gdal 3.2.1
geos 3.9.1
django 3.1.7
mysqlclient 2.0.1
postgresql 13.2
postgis 3.1.1
libgeoip 1.6.12
numpy 1.19.4
pandas 1.1.4
folium 0.11.0
geographiclib 1.50
geopandas 0.8.1
geopy 2.0.0
geographiclib 1.50
geopandas 0.8.1
mysqlclient 2.0.1
PyMySQL 0.10.1
mysql-client 8.0.23
PyQt5 5.15.2
PyQt5-sip 12.8.1
PyQtWebEngine 5.15.2
mysql-connector-python 8.0.22
